<!DOCTYPE html>
<html ng-app="app">

  <head>
   <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
    
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    
    <link rel="stylesheet" href="style.css">
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="PersonController">
    <div class="people">
      <div class="person" ng-repeat="p in model.people" ng-click="showDetails(p)">
        <div>{{p.first}} {{p.last}}</div>        
        <div>{{p.city}}</div>        
      </div>
    </div>
    
    <div class="person-details">
      <p>{{ selectedPerson.first }}</p>
      <p>{{ selectedPerson.city }}</p>
      <p>{{ selectedPerson.address }}</p>
    </div>
  </body>

</html>